html, body{
    padding: 0 !important;
    margin: 0 !important;
}

#root{
    background: linear-gradient(0deg, #edbafd 0%, #8c69f9 100%);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

